
RewriteEngine on
RewriteCond %{HTTP_HOST} ^getoutcom\.es$ [OR]
RewriteCond %{HTTP_HOST} ^www\.getoutcom\.es$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/getoutcom\.es\/home\.html" [R=301,L]

